{% extends 'base.html' %}

{% block content %}
    <h1>Liste des élections</h1>
    <ul>
        {% for election in elections %}
            <li>
                <a href="{% url 'details_election' election.id %}">{{ election.titre }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% extends 'base.html' %}

{% block content %}
    <h1>Liste des élections</h1>
    <ul>
        {% for election in elections %}
            <li>
                <a href="{% url 'details_election' election.id %}">{{ election.titre }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% extends 'base.html' %}

{% block content %}
    <h1>Liste des élections</h1>
    <ul>
        {% for election in elections %}
            <li>
                <a href="{% url 'details_election' election.id %}">{{ election.titre }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

