<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMk9SA4y" crossorigin="anonymous">

<!-- Optionnel : ajoutez du JavaScript pour les composants Bootstrap qui en ont besoin -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSGFpoO9MBothz3Fjwvd1RzmL50w5gJJ6L5BN6yKj6FNXv6gQS" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-M7XA0bDp_zHN1Dz_ORpWotrAF64N1g4WOgJRYW_i0q3vT9zL1W50g8v8kc4lNP" crossorigin="anonymous"></script>

    <title>{% block title %}Système de vote{% endblock %}</title>
    <!-- Ajoutez ici d'autres éléments d'en-tête, tels que les liens vers les feuilles de style CSS ou les scripts JavaScript -->
</head>
<body>
    <nav>
        <!-- Ajoutez ici la barre de navigation ou le menu de votre choix -->
    </nav>
    <main>
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </main>
    <footer>
        <!-- Ajoutez ici le pied de page de votre choix -->
    </footer>
</body>
</html>

