<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Système de vote{% endblock %}</title>
    <!-- Ajoutez ici d'autres éléments d'en-tête, tels que les liens vers les feuilles de style CSS ou les scripts JavaScript -->
</head>
<body>
    <nav>
        <!-- Ajoutez ici la barre de navigation ou le menu de votre choix -->
    </nav>
    <main>
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici -->
        {% endblock %}
    </main>
    <footer>
        <!-- Ajoutez ici le pied de page de votre choix -->
    </footer>
</body>
</html>

